.btn{
	font-weight: $btn-font-weight;
	border-radius: $btn-border-radius;
	outline: 0!important;
	transition-duration: $duration-sm;
}

.btn-link{
	color: $link-color;
	&.active{
		box-shadow:none;
	}
}

.btn-default{
	@include btn($btn-color, $btn-background, $btn-border-color);
	box-shadow: 0 1px 1px rgba(90,90,90,.1);
	border-bottom-color: darken($btn-border-color, 2%);
}

.btn-primary{
	@include btn(#fff, $color-primary, $color-primary);
}

.btn-info{
	@include btn(#fff, $color-info, $color-info);
}

.btn-success{
	@include btn(#fff, $color-success, $color-success);
}

.btn-warning{
	@include btn(#fff, $color-warning, $color-warning);
}

.btn-danger{
	@include btn(#fff, $color-danger, $color-danger);
}

.btn-dark{
	@include btn($color-light, $color-dark, $color-dark);
}

.btn-light{
	@include btn($color-dark, $color-light, $color-light);
}

.btn-icon{
	padding: 0 !important;
	text-align: center;
	width:34px;
	height: 34px;
	i{
		top: -1px;
		position: relative;
		line-height: 34px;
	}	
	&.btn-sm{
		width: 30px;
		height: 30px;
		i{
			line-height: 30px;
		}
	}
	&.btn-lg{
		width: 45px;
		height: 45px;
		i{
			line-height: 45px;
		}
	}
}

.btn-rounded{
	border-radius: 50px;
	padding-left: 15px;
	padding-right: 15px;
	&.btn-lg{
		padding-left: 25px;
		padding-right: 25px;
	}
}

.btn{
	> i{
		&.pull-left,
		&.pull-right{
			line-height: $line-height;
		}
	}
}

.btn-block {
	padding-left: 12px;
	padding-right: 12px;
}

.btn-group-vertical > .btn:first-child:not(:last-child){
	border-top-right-radius: $btn-border-radius;
}

.btn-group-vertical > .btn:last-child:not(:first-child){
	border-bottom-left-radius: $btn-border-radius;
}

.btn-addon {
	i{
		margin: -7px -12px;
		margin-right: 12px;
		background-color: rgba(0, 0, 0, 0.1);
		width: 34px;
		height: 34px;
		line-height: 34px;
		text-align: center;
		float: left;
		padding-top: 3px;
		font-size: 20px;
		position: relative;
		border-radius: $btn-border-radius 0 0 $btn-border-radius;
		&.pull-right{
			margin-right: -12px;
			margin-left: 12px;
			border-radius: 0 $btn-border-radius $btn-border-radius 0;
		}
	}
	&.btn-sm{
		i{
			margin: -6px -10px;
			margin-right: 10px;
			width: 30px;
			height: 30px;
			line-height: 30px;
			&.pull-right{
				margin-right: -10px;
				margin-left: 10px;
			}
		}
	}
	&.btn-lg{
		i{
			margin: -11px -16px;
			margin-right: 16px;
			width: 45px;
			height: 45px;
			line-height: 45px;
			padding-top: 4px;
			font-size: 26px;
			&.pull-right{
				margin-right: -16px;
				margin-left: 16px;
			}
		}
	}
	&.btn-default{
		i{
			background-color: transparent;
			border-right: 1px solid $btn-border-color;
		}
	}
}

.btn-groups .btn{
  margin-bottom: 5px;
}