/* Hamburger */
.hamburger{
	$color: #fff;
    
    width: 28px;
    height: 34px;
    position: relative;
    cursor: pointer;

    span{
        margin: 16px 0;
        float: left;
        width: 28px;
        position: relative;
        display: block;
        height: 3px;
        background: $color;
        transition-duration:$duration;

        &:before,
        &:after{
            content:"";
            position: absolute;
            height: 3px;
            background: $color;
            left:0;right:0;
            transition-duration:$duration;
        }
        &:before{
            top:0;
            margin-top: -8px;
        }
        &:after{
            bottom:0;
            margin-bottom: -8px;
        }
    }

    &.opened{
        span{
            background: rgba($color, 0);
            &:before{
                transform:rotate(45deg);
                margin-top: 0;
            }
            &:after{
                transform:rotate(-45deg);
                margin-bottom: 0;
            }
        }
    }
}
