
// Color palette
$color-primary:		#ff5722;

$color-info:		#13b5ea;
$color-success: 	#00b06c;
$color-warning: 	#f69d35;
$color-danger: 		#ff5063;

$color-light:		#f5f5f5;
$color-dark:		#181f24;

// Main colors
$body-bg:			#e6e8e9;

$text-color: 		#000;
$title-color: 		#000;
$text-muted:		lighten($text-color, 25%);
$link-color:		inherit;
$link-hover-color:  inherit;

$border-color: 		#d8d8d8;

// Fonts
$sans-serif:		"Roboto", Arial, sans-serif;
$serif:				Georgia, serif;	
$font-family:		$sans-serif;

// Font sizes
$line-height:		21px;
$font-weight:		400;

$font-size-h1: 		36px;
$font-size-h2: 		30px;
$font-size-h3: 		24px;
$font-size-h4: 		18px;
$font-size-h5: 		14px;

$font-size:			13px;
$font-size-lg:		21px;
$font-size-md: 		17px;
$font-size-sm:		12px;
$font-size-xs:		10px;

// Sizes
$border-radius: 	0px;

$size-base: 15px;

$xs: floor($size-base / 3 * 1);
$sm: floor($size-base / 3 * 2);
$md: floor($size-base / 3 * 4);
$lg: $size-base * 2;
$xl: $size-base * 3;
$xxl: $size-base * 4;

$size-collection: ($xs, $sm, $size-base, $md, $lg, $xl, $xxl, 0);
$size-names: ("-xs", "-sm", "", "-md", "-lg", "-xl", "-xxl", "-none");

// Transition duration
$duration-lg:		.8s;
$duration-md: 		.6s;
$duration:			.4s;
$duration-sm:		.2s;
$duration-xs: 		.1s;

// Buttons
$btn-color:			$text-color;
$btn-background:	#fff;
$btn-border-color:	$border-color;
$btn-border-radius:	$border-radius;
$btn-font-weight:	$font-weight;

// Input
$input-border:       	$border-color;
$input-border-focus:	$color-dark;
$input-border-radius:	$border-radius;

// <!----

//Panel
$panel-bg:                    	 #fff;
$panel-border:                	 $border-color;
$panel-heading-border:           lighten($border-color, 5%);
$panel-list-group-border:        lighten($border-color, 5%);
$panel-border-radius:         	 $border-radius;
$panel-heading-bg:            	 lighten($color-light, 3%);
$panel-footer-bg:             	 #fff;

$nav-bg:                         lighten($color-light, 3%);
$badge-bg:                       darken($color-light, 10%);

// List group
$list-group-item-border:         lighten($border-color, 3%);
$list-group-item-hover:          lighten($color-light, 3%);
$list-group-item-focus:          darken($color-light, 3%);
$list-group-select-color:        #dbeef9;
$list-group-active-color:        $color-info;

// Table
$table-border-color:             lighten($border-color, 4%);
$table-striped-color:            lighten($color-light, 4.5%);;

// Switch
$switch-width:                   35px;
$switch-height:                  20px;
$switch-md-width:                40px;
$switch-md-height:               24px;
$switch-lg-width:                50px;
$switch-lg-height:               30px;

//DONT KNOW
$arrow-width:         			 8px;
$arrow-color:         			 #fff;
$arrow-outer-width:   			 ($arrow-width + 1);
$arrow-outer-color:   			 rgba(0,0,0,.1);

$app-header-height:              50px;

$app-aside-width:                200px;
$app-aside-nav-height:           40px;
$app-aside-folded-width:         60px;
$app-aside-folded-nav-height:    50px;
$app-aside-dock-media:           992px;

$scroll-bar-width:               17px;
$butterbar-height:               3px;
$butterbar-time:                 0.75s;

$off-screen-width:               75%;
